.container {
  width: 100vw;
  background-color: #111111;
  z-index: 1000;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.innerContainer {
  margin: auto;
  padding: 1rem 1rem;
}

.iconText {
  color: #ffffff;
  font-size: 1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

@media only screen and (min-width: 576px) {
  .innerContainer {
    margin: auto;
    padding: 1rem 1rem;
  }
}
@media only screen and (min-width: 768px) {
  .innerContainer {
    margin: auto;
    padding: 1rem 5rem;
  }
}

@media only screen and (min-width: 1300px) {
  .innerContainer {
    margin: auto;
    max-width: 1140px;
  }
}
