.body {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  margin: auto;
  z-index: 9999;
  background-color: black;
}

.innerBody {
  display: flex;
  flex: 1;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: black;
}
