.container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainLine {
  text-align: center;
  font-size: 2rem;
}

.subLine {
  text-align: center;
}

.textsContainer {
  align-self: center;
  margin-bottom: 2rem;
}
