/* @import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap"); */

@font-face {
  font-family: "PlayfairDisplay-Regular";
  src: url("/static/fonts/PlayfairDisplay-Regular.ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "PlayfairDisplay-Italic";
  src: url("/static/fonts/PlayfairDisplay-Italic.ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "PlayfairDisplay-Bold";
  src: url("/static/fonts/PlayfairDisplay-Bold.ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "LibreBaskerville-Regular";
  src: url("/static/fonts/LibreBaskerville-Regular.ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "LibreBaskerville-Italic";
  src: url("/static/fonts/LibreBaskerville-Italic.ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "LibreBaskerville-Bold";
  src: url("/static/fonts/LibreBaskerville-Bold.ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: "PlayfairDisplay-Regular";
}

h2 {
  font-size: 1.6rem;
  font-family: "LibreBaskerville-Bold";
}

body {
  font-family: "PlayfairDisplay-Regular";
  color: #444444;
  margin: 0;
  line-height: 1.78;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

p {
  font-family: "LibreBaskerville-Regular";
  font-size: 1rem;
  margin: 1rem 0;
}

ul {
  font-family: "LibreBaskerville-Regular";
}

span {
  font-family: "LibreBaskerville-Regular";
  font-size: 0.9rem;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 1rem;
}

@media only screen and (min-width: 576px) {
  p {
    font-family: "LibreBaskerville-Regular";
    font-size: 1.1rem;
    margin: 2rem 0;
    max-width: calc(750px - 32px);
  }
}

/* ============= Fade in section's css ============= */
.fade-in-section {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 1.2s ease-in;
  will-change: opacity, visibility;
}
/* ================================================= */

@media only screen and (min-width: 576px) {
  h2 {
    font-size: 2rem;
    font-family: "LibreBaskerville-Bold";
  }
  .main {
    margin: 0 1rem;
  }
  .cardContainer {
    display: inline-block;
    position: relative;
    margin: 25px;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-right: 1rem;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
    width: 90%;
    padding-bottom: 2rem;
  }
}
@media only screen and (min-width: 768px) {
  .main {
    margin: 0 5rem;
  }
}
@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1300px) {
  .main {
    max-width: 1140px;
    margin: auto;
  }
}
