/* @import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap"); */

@font-face {
  font-family: "PlayfairDisplay-Regular";
  src: url("/static/fonts/PlayfairDisplay-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PlayfairDisplay-Italic";
  src: url("/static/fonts/PlayfairDisplay-Italic.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PlayfairDisplay-Bold";
  src: url("/static/fonts/PlayfairDisplay-Bold.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "LibreBaskerville-Regular";
  src: url("/static/fonts/LibreBaskerville-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "LibreBaskerville-Italic";
  src: url("/static/fonts/LibreBaskerville-Italic.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "LibreBaskerville-Bold";
  src: url("/static/fonts/LibreBaskerville-Bold.ttf");
  font-style: normal;
  font-weight: normal;
}

h1 {
  font-family: "PlayfairDisplay-Regular";
}

h2 {
  font-family: "LibreBaskerville-Bold";
}

body {
  font-family: "PlayfairDisplay-Regular";
  color: #444444;
  margin: 0;
  line-height: 1.78;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

p {
  font-family: "LibreBaskerville-Regular";
  font-size: 1rem;
  margin: 1rem 0;
}

@media only screen and (min-width: 576px) {
  p {
    font-family: "LibreBaskerville-Regular";
    font-size: 1.1rem;
    margin: 2rem 0;
    max-width: calc(782px - 32px);
  }
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

@media only screen and (min-width: 576px) {
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 540px;
    margin: auto;
  }
  .cardContainer {
    display: inline-block;
    position: relative;
    margin: 25px;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-right: 1rem;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
    width: 90%;
    padding-bottom: 2rem;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 720px;
    margin: auto;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 960px;
    margin: auto;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1140px;
    margin: auto;
  }
}

.main {
  margin: auto;
  background: "#FFFFFF";
  position: relative;
  z-index: 3;
}

.mainRaised {
  margin: -60px 30px 0px;
  border-radius: 6px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile {
  text-align: center;
}

.profileImage {
  width: 12rem;
  height: 12rem;
  margin: 0 auto;
  transform: translate3d(0, -30%, 0);
  box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24),
    0 8px 10px -5px rgba(0, 0, 0, 0.2);
  border-radius: 50% !important;
  object-fit: cover;
}

.name {
  margin-top: -80px;
}

.title {
  color: #3c4858;
  margin: 1.75rem 0 0.875rem;
  text-decoration: none;
  font-weight: 700;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  display: inline-block;
  position: relative;
  margin-top: 30px;
  min-height: 32p;
  text-decoration: none;
  color: #5e5e5e;
}

.description {
  margin: 1.071rem auto 0;
  max-width: 600px;
  color: #999;
  text-align: center !important;
  padding: 0 1rem;
}

.navWrapper {
  margin: 20px auto 50px auto;
  text-align: center;
}

.footerBox {
  margin: 50px auto 50px auto;
}

.grid {
  margin-right: -15px;
  margin-left: -15px;
  width: auto;
}

.gridItem {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  flex-basis: auto;
}

.cardContainer {
  display: inline-block;
  position: relative;
  width: 100%;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.87);
  background: #fff;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 3rem;
}

.descriptionTextWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.descriptionText {
  margin: 0.3rem 0;
  max-width: 600px;
  color: #595959;
  font-size: 1rem;
  text-align: left !important;
}

.slash {
  color: #595959;
  font-size: 1.5rem;
  text-align: left !important;
}

.periodText {
  color: #999;
  font-size: 1rem;
  text-align: left !important;
}

.smallTitleContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 0 0 2.3rem;
}

.cardTitle {
  transition: color 0.1s ease;
  color: #5e5e5e;
  font-weight: 700;
  text-align: left !important;
  font-size: 1.2rem;
  border: none !important;
  text-decoration: none;
}

.cardTitle:hover {
  color: #f2e6e6;
}

.dot {
  margin-right: 1rem;
}

.dotTitleWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 1rem;
  width: 100%;
  margin: 1rem 0 0 0;
}

.appLinkText {
  color: #00acc1;
  font-size: 1rem;
  transition: color 0.1s ease;
  text-align: left !important;
  border: none !important;
  text-decoration: none;
  padding-left: 1.5rem;
}

.appLinkText:hover {
  color: #f2e6e6;
}

.jobDescriptionText {
  margin: 0.3rem 0;
  max-width: 600px;
  color: #999;
  font-size: 1rem;
  text-align: left !important;
  margin-left: 0.3rem;
}
